node_modules
npm-debug.log*
.env
.env.example
.git
.gitignore
Dockerfile
docker-compose.yml
test
postman
docs
README.md
redocly.yaml
.redocly.lint-ignore.yaml
.env.*
*.pem
*.key
SHA256SUMS

worker-state
*.dump
*.tgz
*.log

*.private.*
